Global Styles body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

nav ul {
    list-style: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    color: white;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #d2691e;
    /* Highlight active or hovered links */
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1,
h2 {
    color: #d2691e;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}